{{!-- <div class="content">
    <div class="info"><h4>Welcome to our weather app</h4><br>
    <h1>Get the latest and accurate <strong>weather</strong>  infomation of your city</h1>
    <a href="/weather" class="check"><button>check</button></a>
    </div>
    <div class="weatherimg" >
        <img src="https://img.icons8.com/color/480/000000/partly-cloudy-day--v2.png " id="weatherimg1"/></div>
</div> --}}
  <div class="navbar">
      <div class="author">Yuvraj Weather</div>
      <div class="page">
          <a href="/home" class="home">home</a>
          <a href="/weather" class="weather">weather</a>
          <a href="/about" class="aboutus">about</a>
      </div></div>